#### Q.What is mean of given array?

In [4]:
x=[4,5,8,12,15]
mean = sum(x)/len(x)
mean

8.8

#### Q. what is median of the given array

In [13]:
y=[7,23,15,22,33]

In [16]:
y.sort()
y[2]

22

In [17]:
import pandas as pd
d = {'Branch/Specialization': ['Computer Science', 'Mechanical Engg', 'Electrical Engg', 'Biotechnology','Methamatics'], 'Number of students': pd.Series([100,80,130,60, 50])}
pd.DataFrame(data=d)

  Branch/Specialization  Number of students
0      Computer Science                 100
1       Mechanical Engg                  80
2       Electrical Engg                 130
3         Biotechnology                  60
4           Methamatics                  50

#### Q. from the given table above find out the relative frequency of Mathematics

In [20]:
rel_freq = 50/420
rel_freq

0.11904761904761904

#### Q. What is the range of the given array?

In [22]:
z=[4,9,12,3,17,25,33,13]

In [24]:
range = max(z)-min(z)
range

30

#### Q. What will be the standard deviation of the given array?

In [26]:
w=[1,7,2,3,8,4,11,9,5,6]

Hint: 
1.numpy.sum can be used to find the sum of an array example np.sum(w)

2. nupmy.power can be used to find square of any value for example np.power((a),2),

3. np.sqrt can be used to find the squar root of any value example np.sqrt(a)

In [27]:
import numpy as np
pop_std = np.std(w)
sample_std = np.std(w, ddof=1)
print("Population Std Dev:", pop_std)
print("Sample Std Dev:", sample_std)

Population Std Dev: 3.0397368307141326
Sample Std Dev: 3.204163957519444